/* html {
    height: 100%;
} */
body {
    min-height: 100%;
    margin: 0;
    padding-top: 50px;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f5f5f5;
    background: linear-gradient(to bottom, rgb(189, 251, 251), rgba(12, 5, 117, 0.75));
    height: 100%;
    overflow-x: hidden;
}

nav {
    background-color: rgb(189, 251, 251);
    border-bottom-width: 2px;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    padding: 10px 20px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.brand-link {
    text-decoration: none;
    color: blue;
    font-weight: 700;
}

.brand-link:hover {
    color: green;
}

#nav-container {
    border-right: 1px solid #aaa;
    float: left;
    width: 105px;
    padding: 15px 15px 15px 15px;
    overflow: auto;    
}

.nav-container-4000 {
    height: 4000px;
}

.nav-container-2000 {
    height: 2000px;
}

.nav-container-1000 {
    height: 1000px;
}

#nav-title {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

ul.nav {
    padding: 0;
    list-style-type: none;
}

ul.nav li {
    margin: 1px;
    border: 1px solid grey;
    padding: 2px;
    border-spacing: 1px;
    text-align: center;
}

ul.nav li a {
    display: block;
    width: 100%;
    color: #000;
    text-decoration: none;
    padding: 5px 0;
}

ul.nav li a:hover {
    background-color: rgb(167, 216, 245);
    color: white;
}

#body {
    float: left;
    width: calc(100% - 250px);
    padding-left: 250px;
    padding: 15px;
    overflow: auto;
}

nav a {
    text-decoration: none;
    color: blue;
}

#page-title {
    margin: 5px 0 20px 0;
    padding: 0 20px;
    border-bottom: 2px solid grey;
    color: rgb(10, 3, 116);
    font-weight: 900;
    text-shadow: 0 0 20px rgb(199, 14, 14);
}


#classroom {
    /* background-color: hotpink; */
    border: 3px solid black;
    padding: 0 10px 20px 10px;
    margin-bottom: 30px;
}

footer {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 25px;
    padding-right: 0;
    margin-right: 0;
    display: block;
    clear: both;
    background-color: #333;
    color: #fff;
    margin-top: 60px;
    float: left;
    width: 100%;
  }
  
.row {
    width: 100%;
    font-family: 'Roboto', Arial, sans-serif;
}

.col1, .col2, .col3 {
    display: inline-block;
    width: 32%;
    padding: 5px;
    text-align: center;
    font-family: 'Shrikhand', cursive;
}

.full-col {
    display: block;
    padding: 5px;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
}
