.flex-row {
    display: flex;
    overflow-x: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px;
}

.flex-col {
    border: 1px solid blue;
    flex-basis: 100%;
}

.flex-col1 {
    flex-basis: 50%
}
.flex-col2 {
    flex-basis: 25%;
    flex-grow: 1;
}
.flex-col3 {
    flex-basis: 75%;
    flex-grow: 0;
    flex-shrink 1;
}

.big-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 20px auto 30px;
    background-color: darkgreen;
    color: #fff;
}
