nav {
    border-bottom-width: 2px;
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #fff;
    font-family: 'Shrikhand', cursive;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

nav a {
    color: #000;
    text-decoration: none;
}

#body {
    padding: 70px 10px 20px;
    /* height: 300px; */
}

#page-title {
    margin: 0 0 25px 0;
    padding: 0;
    border-bottom: 1px solid #aaa;
    font-weight: 300;
    background-color: #999;
}

#footer a {
    color: #8c1515;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
}

.nav {
    background-color: rgb(200, 190, 190);
    border: 3px solid black;
    position: fixed;
    left: 0;
    top: 35;
    right: 10;
    width: 93%;
    height: 40px;
}

.nav li {
    display: inline-block;
    width: 15%;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    text-align: center;
}

.nav li a {
    text-decoration: none;
}

.nav li:hover {
    /* font-size: 18px; */
    background-color: greenyellow;
}

#nav-container {
    display: inline-block;
    width: 90%;
    text-transform: uppercase;
}

#nav-title {
    margin: 0px 10px 0px 10px;
    font-size: 22px;
    font-family: 'Shrikhand', cursive;
    /* display: block; */
    /* text-align: center; */
}

footer {
    background-color: rgb(200, 190, 190);
}

.row {
    width: 99%;
    font-family: 'Roboto', Arial, sans-serif;
}

.col1, .col2, .col3 {
    display: inline-block;
    /* border: 1px solid blue; */
    width: 31%;
    padding: 5px;
    text-align: center;
    font-family: 'Shrikhand', cursive;
}

.full-col {
    display: block;
    /* border: 1px solid blue; */
    padding: 5px;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    font-size: 30px;
}

blockquote {
    font-weight: 500;
    font-family: 'Shrikhand', cursive;
    background-color: #fff;
    border: 2px solid grey;
    font-size: 22px;
    content: "- Benjamin Franklin";
}

blockquote::after {
   content: '"- Benjamin Franklin';
}
blockquote::before {
    content: '"';
 }