

@keyframes boxAnimation {
    0% {
        border: 3px solid red;
    }

    25% {
        width: 60vw;
    }

    50% {
        background-color: #8c1515;
    }

    100% {
        border: 3px solid red;
        width: 60vw;
    }
}

.box {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border: 1px solid #aaa;
    background-color: #ccc;

    animation-name: boxAnimation;
    animation-duration: 4s;
}

.box1, .box2 {
    border: 1px solid red;
    margin-bottom: 30px;
    width: 300px;
    padding: 20px;
}

.box1 {
    box-sizing: content-box;  /* default */
}

.box2 {
    box-sizing: border-box;
}